<header class="bg-teal-500 text-white p-4">
    <nav class="flex justify-between items-center">
        <ul class="flex space-x-4">
        </ul>
        <ul class="flex space-x-4">
            <li><a href="/register" class="hover:text-gray-200">Registrate</a></li>
            <li><a href="/login" class="hover:text-gray-200">Iniciar sesion</a></li>
        </ul>
    </nav>
</header>